/*Variables de la página*/
:root {
  /* colores de fondo y texto*/
  --bg-color-principal: #fff;
  --bg-color-secundario: #b8e1d1;
  --bg-color-terciario: #ffeda9;
  --bg-color-cuarto: #ebebeb;
  --text-color-principal: #4f4f4f;
  --text-color-secundario: #828282;
  --text-color-terciario: #525252;
  --text-color-enlaces: #606C68;
  --text-color-negro: #1f1f1f;
  /* fuente letra*/
  --text-fuente-lato: 'Lato', sans-serif;
  --text-fuente-playfair: 'Playfair Display', serif;
}
/*******************************************************************************************************************/
/* Colores oficiales de bloques y texto de la página*/
.bg-color-principal {
  background-color: var(--bg-color-principal);
}

.bg-color-secundario {
  background-color: var(--bg-color-secundario);
}

.bg-color-terciario {
  background-color: var(--bg-color-terciario);
}

.text-color-principal {
  color: var(--text-color-principal);
}

.text-color-secundario {
  color: var(--text-color-secundario);
}

.text-color-terciario {
  color: var(--text-color-terciario);
}

/*******************************************************************************************************************/
/* Edición general de algunos elementos*/

.container-fluid {
  background-color: var(--bg-color-principal);

  font-family: var(--text-fuente-lato);
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: var(--text-color-enlaces);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

li a:hover {
  /* background-color: #111; */
  text-decoration: none;
}

h2 {
  font-family: var(--text-fuente-playfair);
  color: var(--text-color-principal);
}
h3 {
  font-family: var(--text-fuente-playfair);
  color: var(--text-color-principal);
}

.boton {
  background-color: var(--bg-color-secundario);
  color: var(--text-color-principal);
  /* font-size: 14px; */
  letter-spacing: 3.5px;
  padding: 12px;

  border: none;
}

.hero-principal {
  background-color: var(--bg-color-secundario);
  text-align: center;
  padding: 4em 0;
}

/*******************************************************************************************************************/
/* Edición específica */

/* header */
header .cabecera{
  padding-top: 20px;
}

header .cabecera img{
  max-width: 120px;
}

header .cabecera h1 {
  font-family: var(--text-fuente-playfair);
  font-size: 1em;
}

header .cabecera .botones-registro {
  font-size: 10px;
}

.botones-registro a {
  padding: 0;
}

header a:hover {
  background-color: var(--bg-color-cuarto);
  color: #fff;
}


/* ofertas destacadas */

.ofertas_destacadas {
  margin-bottom: 10%;
}

/* video */

.video {
  margin: 5em 0;
}

.video iframe{
  /* max-width: 250px; */
  width: 250px;
  height: 100%;
}

/* productos similares */

.productos_similares {
  margin-bottom: 5%;
}

/* colaboraciones */

.colaboraciones .marcas img {
  width: 100%;
  height: 100%;
}

.marcas div {
  padding: 20px;
}

/* novedades */

.novedades img {
  max-width: 100px;
}

/* aside */

aside .suscribirse {
  padding: 15px 0;
}

aside .suscribirse input[type="email"] {
  width: 200px;
  height: 45px;
  
  background-color: var(--bg-color-cuarto);
  border: none;
}

aside .suscribirse input[type="email"]::placeholder {
  text-align: center;
  color: var(--text-color-principal);

  font-size: 0.75em;
}

aside .suscribirse input[type="submit"] {
  width: 100%;
  max-width: 100px;
}

/* footer */

footer {
  margin-bottom: 4em;
}

footer .linea {
  height: 1px;
  flex-shrink: 0;

  background-color: #66666644;
}

.appStore svg, .playStore svg{
  width: 100%;
}


/* PÁGINA OFERTAS */

/* ofertas */

.ofertas {
  padding: 3em;
}

.lateral {
  margin: 0;
  padding: 5%;
  padding-left: 30%;
}

.lateral h4 {
  color: var(--text-color-principal);
}

.lateral p {
  color: var(--text-color-secundario);
}

/* PÁGINA ATENCIÓN AL CLIENTE */

/* preguntas frecuentes */

.preguntasFrecuentes {
  padding: 1%;
}
  
.preguntasFrecuentes .titulos h2 {
  margin: 5% 0;
}

.preguntasFrecuentes .titulos p {
  margin: 0 5%;
}

.accordion-item {
  margin: 1em 0;
}

.accordion-item button {
  font-family: var(--text-fuente-lato);
}

.accordion-body {
  color: var(--text-color-secundario);
}

/* formulario */

.formulario {
  padding: 1%;
}

.formulario form {
  border: 1px solid #000;
  border-radius: 50px;

  padding: 5% ;
}

.formulario form .tipoServicio {
  margin: 5% 0;
}
.formulario form .tipoContacto {
  margin: 7% 0;
}
.formulario form .comentario {
  margin: 7% 0;
}
.formulario form input[type="submit"] {
  text-align: center;
  color: var(--bg-color-principal);
}

/* contacto */


.contacto .logo {
  max-width: 2em;
  margin: auto 1.5em;
}
.contacto p {
  margin: 0;
}

.contacto .contacto_centrado {
  margin: 0.5em 0;
  /* max-width: 200px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

/* horario */

.horario {
  margin: 6em 0;
}

/* PÁGINA PRODUCTOS */

/* analisis */

.analisis {
  margin: 1em !important;
  margin-top: 2em !important;
}

.analisis .descripcion {
  margin: 2em 0;
}

.analisis .barra-lateral h4.nombre {
  font-family: var(--text-fuente-playfair);
}
.analisis .barra-lateral h4 {
  margin: 1em 0;
}

.analisis .precio {
  margin: 2em 0;
}
.analisis .precio  {
  margin: 2em 0;
}
  
.analisis .precio .elemento-precio {
  margin: 1em 0;
}

.analisis .precio input {
  max-width: 120px;
}

.analisis .precio button {
  background-color: var(--text-color-principal);
  color: var(--bg-color-principal);
}

/* PÁGINA MAPA */

.mapa {
  margin: 2em 1em !important;
}


/*******************************************************************************************************************/
@media screen and (min-width: 430px) {
  
  /* Edición específica (430px)*/
  /* header */
  header .cabecera h1 {
    font-size: 2em;
  }

  header .cabecera .botones-registro {
    font-size: 1em;
  }

  .botones-registro a {
    padding: 14px 10px;
  }

  /* aside */

  aside .suscribirse input[type="email"] {
    width: 300px;
  }

  aside .suscribirse input[type="email"]::placeholder {
    font-size: 1em;
  }

  /* footer */
  .appStore svg, .playStore svg{
    width: 100%;
  }

}

/*******************************************************************************************************************/
@media screen and (min-width: 576px) {

  /* Edición general de algunos elementos*/
  .hero-principal {
    padding: 5.5em 0;
  }

  /***********************************************/
  /* Edición específica (576px)*/
  /* header */
  header .cabecera h1 {
    font-size: 3em;
  }

  /* presentacion */
  
  .presentacion p {
    padding: 2em 3em;
  }

  /* video */
  
  .video iframe{
    width: 500px;
    height: 283px;
  }

  /* novedades */
  
  .novedades img {
    max-width: 150px;
  }

  /* opiniones */

  .opiniones img {
    width: 50%;
  }

  /* colaboraciones */

  .marcas div {
    padding: 40px;
  }
  
  /* aside */

  aside .suscribirse {
    padding: 23px 0;
  }

  aside .suscribirse input[type="email"] {
    width: 380px;
  }

  /* footer */
  .appStore svg, .playStore svg{
    width: 100%;
  }

  /* PÁGINA ATENCIÓN AL CLIENTE */
  
  /* preguntas frecuentes */
  
  .preguntasFrecuentes {
    padding: 10% 20%;
  }
  
  .accordion-item {
    margin: 2em 0;
  }

  /* formulario */
  
  .formulario {
    padding: 10% 20%;
  }
  
  /* PÁGINA PRODUCTOS */
  
  /* analisis */

  .analisis {
    margin: 4em !important;
    margin-top: 5em !important;
  }
  
  .analisis .precio .elemento-precio {
    margin: 3em 0;
  }

  /* PÁGINA MAPA */
  
  .mapa {
    margin: 8em 5% !important;
  }
  

}

/*******************************************************************************************************************/
@media screen and (min-width: 992px) {
  /* Edición general de algunos elementos*/
  .container-fluid {
    font-size: 20px;
  }

  h2 {
    font-size: 3em !important;
  }

  h3 {
    font-size: 2em !important;
    font-family: var(--text-fuente-lato);
  }

  h4, h5 {
    font-size: 1em !important;
  }

  p {
    font-size: 1.2em !important;
  }

  /* presentacion */
  .hero-principal {
    padding: 9em 0;
  }

  /***********************************************/
  /* Edición específica (992px)*/
  /* header */
  header .cabecera h1 {
    font-size: 2.5em;
  }

  header .cabecera .botones-registro {
    font-size: 0.8em;
  }
  
  /* presentacion */
  
  .presentacion p {
    padding: 5em 38vw;
  }

  /* video */
  
  .video iframe{
    width: 980px;
    height: 553px;
  }

  /* opiniones */

  .opiniones img {
    width: 60%;
  }

  /* colaboraciones */

  .marcas div {
    padding: 30px 50px;
  }
  
  /* aside */
  aside {
    margin: 100px;
  }

  aside .suscribirse {
    padding: 30px 0;
  }
  

  aside .suscribirse input[type="email"] {
    width: 100%;
  }
  
  aside .suscribirse input[type="submit"] {
    height: 100%;
    max-height: 45px;
    width: 100%;
    max-width: 120px;
    
  }

  /* footer */

  footer h4 {
    font-size: 1.4em !important;
    font-weight: bold;
  }

  
  /* PÁGINA OFERTAS */

  /* ofertas */

  .ofertas h3 {
    margin-bottom: 1.5em;
  }

  /* PÁGINA ATENCIÓN AL CLIENTE */
  
  /* preguntas frecuentes */
  
  .preguntasFrecuentes {
    padding: 10% 30%;
  }

  .preguntasFrecuentes .titulos p {
    margin: 0 30%;
    font-size: 1em !important;
  }

  .accordion-item {
    margin: 2em 0;
  }
  
  .accordion-item button {
    font-size: 0.5em !important;
  }

  /* formulario */
  
  .formulario {
    padding: 10% 30%;
    font-size: 1.3em !important;
  }

  .formulario .titulos h4 {
    font-size: 1.3em !important;
  }

  .formulario .tipoContacto option {
    font-size: 2em !important;
  }
  .formulario .comentario textarea {
    padding-top: 2em !important;
    font-size: 1em !important;
  }
  
  /* contacto */

  .contacto {
    font-size: 1.3em;
  }

  .contacto p {
    font-size: 1.3em !important;
  }

  /* horario */

  .horario {
    font-size: 1.5em !important;
  }

  .horario p strong {
    font-size: 1.5em !important;
  }
  
  /* PÁGINA PRODUCTOS */
  
  /* analisis */

  .analisis {
    margin: 5em !important;
    margin-top: 8em !important;
  }
  .analisis .barra-lateral p {
    font-size: 0.8em !important;
  }
  
  .analisis .precio .elemento-precio {
    font-size: 0.7em;
  }

  /* PÁGINA MAPA */
  
  .mapa {
    margin: 10em 10% !important;
  }
  

}


@media screen and (min-width: 1600px) {

  
  /* PÁGINA PRODUCTOS */
  
  /* analisis */

  .analisis {
    margin: 15em !important;
  }

  .analisis .barra-lateral p {
    /* padding: 1em 2em; */
    font-size: 1em !important;
  }

  /* PÁGINA MAPA */
  
  .mapa {
    margin: 10em 25% !important;
  }
}